@model WebApplication1.ViewModels.Account_headVm
@{
    ViewBag.Title = "Create";
}
<script>
    function Action(code) {
        //alert(code);
        $.ajax({
            type: "GET",
            url: "/SecondLevelAccount/ShowData?message=" + code,
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Select First Level Account</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].a_main_id + '">' + data[i].a_title + '</option>';
                }
                $('#a').html(s);
            }
        });
    }
</script>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-dollar" aria-hidden="true"></i>Accounts </a></li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12">
            <h4 class="section-subtitle"><b>Second Level Accounts Registrations</b></h4>
            <a href="@Url.Action("Index", "SecondLevelAccount")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-list"></i> Accounts List</a>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Save", "SecondLevelAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {<div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Select Account Head</label>
                                        @Html.DropDownListFor(m => m.ac_Second.head_id, new SelectList(Model.Ac_head_list, "ac_h_id", "ac_h_name"), "Select Account Head", htmlAttributes: new { @class = "chosen-select form-control", onChange = "Action(this.value)" })

                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Select First Level Account</label>
                                        <select id="a" name="a_main" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-sm-5">
                                        <label> Account Title</label>
                                        @Html.TextBoxFor(m => m.ac_Second.a_title, new { @class = "form-control input-xs", @required = "required" })
                                    </div>

                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" style="margin-top:10px"><i class="fa fa-check"></i> Save</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


