@model IEnumerable<WebApplication1.QueryViewModel.OpeningStockBranch>
@{
    ViewBag.Title = "Index";
}
<script>
    $('#searchable').DataTable({
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    });
</script>
<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Registrations</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="section-subtitle"><b>Branch Opening Stock</b></h4>
            @if (Session["SubProductPricingRegionA"].ToString() != "0")
            {
                <a href="@Url.Action("BranchOpeningStockCreate", "BranchTransfer")" class="btn btn-wide btn-success pull-right" style="margin-top:-40px"><i class="fa fa-plus"></i>  Creat New</a>
            }
            <div class="panel">
                <div class="panel-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-success" id="searchable">
                            <thead class="bordered-darkorange">

                                <tr>
                                    <th>Branch Name</th>
                                    <th>Product Name</th>

                                    <th style="background-color:lightcyan">Qty</th>
                                  


                                    @*<th>Action</th>*@
                                </tr>
                            </thead>

                            <tbody class="abc">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.branchname</td>
                                        <td>@item.pname</td>
                                         <td style="background-color: lightcyan">@item.qty</td>
                                       
                                    </tr>

                               
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                    <th><input type="text" name="search_browser" placeholder="Search Here" class="form-control input-sm"></th>
                                   
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
