@model WebApplication2.ViewModels.ChartofaccountVm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content-header">
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><a><i class="fa fa-cubes" aria-hidden="true"></i> Detail Ledger</a></li>
            </ul>
        </div>
    </div>
    <h4 class="section-subtitle"><b>Ledger Search </b></h4>

    @using (Html.BeginForm("LedgerSearch", "DetailLedger", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel">
            <div class="panel-content">
                <div class="col-md-12">
                    <div class="form-group col-sm-3">
                        <label>Select Account</label>
                        @Html.DropDownListFor(m => m.accountTitle.AccountNo, new SelectList(Model.third_level, "AccountNo", "AccountTitleName"), "Select Account", htmlAttributes: new { @class = "chosen-select form-control" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Start Date </label>
                        <input type="date" name="s_date" value="@DateTime.Now.ToString("yyyy-MM-dd")"  class="form-control" required />
                    </div>
                    <div class="form-group col-sm-3">
                        <label>End Date </label>
                        <input type="date" name="e_date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" name="submit" class="btn btn-success" style="margin-top:25px"> &nbsp;&nbsp; Search &nbsp;&nbsp;</button>
                    </div>

                </div>
                <br /><br /><br />
            </div>

        </div>

    }
</div>
