@if (Session["CurrentUserName"]?.ToString() == "Super Admin")
{
    <li style="background-color: #2C3E50 !important;" id="batch-status">
        <a href="@Url.Action("Indexstatus", "BatchFilling")">
            <i class="fa fa-list"></i> &nbsp;
            <span style="color:white">Batch Filling Status</span>
            <span class="badge badge-light" id="batchCount1">0</span>
        </a>
    </li>
}